name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: meshtastic-node-card.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
